.SearchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.SearchBar {
  width: 540px;
  height: 60px;
  border-radius: 20px;
  background: var(--container-bg-color-20);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.SearchTitle {
  margin-left: 22px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 10px;
  height: 18px;
  color: var(--search-title-color);
  display: flex;
  align-items: center;
  line-height: 13.62px;
}

.SearchInput {
  margin-left: 22px;
  margin-top: 2px;
  height: 18px;
  border: none;
  background: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  padding: 0px
}

.SearchInput:focus {
  outline: none;
}

.SearchButton {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--search-button-bg-color);
  border: none;
  margin-left: 20px;
}

.SearchButton:hover {
  background-color: var(--search-button-bg-color-hover);
}

.SearchButton:active {
  background-color: var(--search-button-bg-color-active);
}

.SearchIcon {
  width: 34px;
  height: 34px;
  color: white;
}

.ErrorMessageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ErrorMessage {
  width: 700px;
  text-align: left;
  padding-left: 22px;
  margin-top: 6px;
  min-height: 18px;
}

/* For tablets and below */
@media screen and (max-width: 768px) {
  .SearchBarContainer {
    padding-top: 19px;
  }

  .SearchBar {
    width: 260px;
    height: 40px;
    border-radius: 8px;
  }

  .SearchTitle {
    font-size: 8px;
    height: 12px;
    line-height: 10.9px;
    margin-left: 11px;
  }

  .SearchInput {
    margin-top: 0.33px;
    font-size: 12px;
    height: 12px;
    line-height: 16.34px;
    margin-left: 11px;
  }

  .SearchButton {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-left: 10px;
  }

  .SearchIcon {
    width: 24px;
    height: 24px;
  }

  .ErrorMessage {
    width: 360px;
    padding-left: 11px;
  }
}