.App {
  text-align: center;
}

.Background {
  height: 100vh;
}

/* For laptops/desktops and above */
@media screen and (min-width: 768px) {
  .Background {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

/* For tablets and below */
@media screen and (max-width: 768px) {
  .Background {
    background-size: cover;
    background-repeat: no-repeat;
  } 
}